#info {
    max-width: 800px;
    margin: auto;
    border: 2px solid green;
}
#into
{
    width: 400px;
    border: 2px solid red;
}
#gallery {
    width: 600px; 
}

.simple{
    width: 500px;
    height: 600px;
    margin: 20px auto;
    border: 5px solid red;
    box-sizing: border-box;
}
.fancy{
    width: 500px;
    height: 600px;
    margin: 20px auto;
    padding: 50px;
    border-width: 10px;
    border: 2px solid red;
    box-sizing: border-box;
}
.relative1{
    width: 600px;
    height: 400px;
border: 1px solid green;
position: relative;
}
.relative2 {
    position: absolute;
    top: 120px;
    right: 0px;
    width: 300px;
    background-color: blue;
    width: 300px;
border: 1px solid greenyellow;
}